.navbar-custom {
    background-color: #0f8cae; /* Light blue background */
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-item .nav-link {
    color: #f3ecec;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #000;
}

.navbar-nav .nav-item .social-icon {
    margin-left: 10px;
    color: #f3ecec;
}

.navbar-nav .nav-item .social-icon:hover {
    color: #000;
}

.form-inline .form-control {
    width: 600px;
}

.form-inline .btn {
    margin-left: 10px;
}

/* Custom toggle button color */
.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3e%3cpath stroke="%23f3ecec" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3e%3c/svg%3e');
}


.custom-toggler:hover {
    background-color: #0d6efd;
}

/* style.css */
.hero-section {
    height: 80vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/back\ real.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.25rem;
}


/* style.css */
.text-image-section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #dbe8f4;
}

.text-content {
    margin-top: 20px;
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.text-content h2 {

    margin-top: 20px;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.text-content p {
    font-size: 1.3rem;
    line-height: 1.6;
}

.image-content {
    flex: 1;
    max-width: 50%;
}

.image-content img {
    width: 700px;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover; 
}


.new-section {
   
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(223, 219, 214);
    padding: 20px;
}

.content {
    position: absolute;
    text-align: center;
    z-index: 1;
    color: #333; /* Text color */
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.125rem;
    margin-bottom: 0;
    line-height: 1.6;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-image,
.right-image {
    height: 100px; /* Adjust height as needed */
    border-radius: 10px;
}

.left-image {
    position: absolute;
    left: 20px; /* Adjust positioning as needed */
}

.right-image {
    position: absolute;
    right: 20px; /* Adjust positioning as needed */
}

.right-image:first-of-type {
    right: 140px; /* Adjust positioning for the first right image */
}




